<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="row">
    <div class="col-9"></div>
        <%if(!currentUser){%>
        <div class="col-1"><a class="btn btn-primary" href="/register">signUp</a></div>
        <div class="col-1"><a class="btn btn-success" href="/login">Login</a></div>
        <%}else{%>
        <div class="col-1"><a class="btn btn-danger" href="/logout">Logout</a></div>
        <%}%>
</div>