<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css"> 
</head>  
<body class="newForm">

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/home">To-Do-List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav " id="navbarItems" style="margin-left:75% ;">
        <li class="nav-item">
            <span class="nav-link" style="color: white;">
                <strong>Welcome <%=currentUser.username%></strong>
            </span> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>
/************************************************************************************************************/

<div class=" container">
    <h1 style="color: white; text-align: center;">NEW TASK</h1>    
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="/home" method="POST">
                        <div class="form-group">
                            <label class="form-control-label">TITLE</label>
                            <input type="text" name="title" placeholder="Title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="body" class="form-control-label">ENTER YOUR TASK</label>
                            <textarea class="form-control" rows="10" id="body" cols="30" name="body" placeholder="type here....."></textarea>
                        </div> 
                        <div class="form-group">
                            <label for="taskType" class="form-control-label">TASK TYPE : </label>
                            <select name="taskType" id="taskType" class="custom-select" required> 
                                <option value="">--Please choose an option--</option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="Shopping">Shopping</option>
                                <option value="Playing">Playing</option>
                                <option value="others">others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="form-control-label">STATUS : </label> 
                            <select name="status" id="status" class="custom-select" required> 
                                <option value="">--Please choose an option--</option>
                                <option value="Completed">Completed</option>
                                <option value="In Progress">In-progress</option>
                                <option value="New">New</option>
                            </select>
                        </div>
                        <div>
                        <div class="form-group">
                            <label for="dueDate" class="form-control-label">DUE DATE</label>
                            <input type="date" id="dueDate" name="dueDate" value="2020-01-01" required> 
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
<%- include("./partials/footer")%>